<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"> 
<body>
<!-- include the template file -->
<ui:composition template="template/template.xhtml">
	<!--  serach unsing  -->
	<!-- include own css file  -->
  <ui:define name="css">
<h:outputStylesheet library="css" name="search.css"/>
</ui:define>
	
     <ui:define name="main_content">
	<div class="search">
	<h:form id="search-form">
	<h:outputLabel for="search-field" value="Search" />
	<h:inputText id="search-field" value="#{listBean.searchField}" />
	<h:commandButton action="#{listBean.searchTitle()}" value="Search" />
	</h:form>
	</div>
	<div class="search">
	<h:form id="ingredients-search-form">
	<h:panelGrid columns="2">
	<h:column>
	<h:outputLabel for="ingredients-search-field1" value="Search" /><br />
	<h:inputText id="ingredients-search-field1" value="#{listBean.ingredient1}" /><br />
	<h:inputText id="ingredients-search-field2" value="#{listBean.ingredient2}" /><br />
	<h:inputText id="ingredients-search-field3" value="#{listBean.ingredient3}" /><br />
	<h:inputText id="ingredients-search-field4" value="#{listBean.ingredient4}" /><br />
	<h:inputText id="ingredients-search-field5" value="#{listBean.ingredient5}" /><br />
	</h:column>
	<h:commandButton action="#{listBean.searchIngredients()}" value="Search" />
	</h:panelGrid>
	</h:form>
	</div>
	<div class="list">
			<!-- ingredients list -->
			<h:form prependId="false">
		<h:dataTable value="#{listBean.cookingRecipes}" var="recipe" styleClass="recipe-list">
		<h:column>
		<!-- Call servlet to deliver image -->
		<h:graphicImage value="/Details?print=#{recipe.id}" alt="Recipe image" width="200" height="auto" />
		</h:column>
    <h:column>
        <h:commandLink type="submit" action="reciple_detail" value="#{recipe.name}" >
        <!-- action listener call bean method when click above link -->
        <f:setPropertyActionListener value="#{recipe.id}" target="#{detailBean.recipeId}"/>
        </h:commandLink>
            </h:column>
             <h:column>
        <h:outputLabel value="#{recipe.category}" />
            </h:column>	            
</h:dataTable>
</h:form>
	</div>	
  </ui:define>
</ui:composition> 
</body>
</html>