<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:iList ="http://java.sun.com/jsf/composite/composites/ingredients_list"
      xmlns:f="http://java.sun.com/jsf/core"> 
<body>

<!-- include the template file -->
<ui:composition template="template/template.xhtml">	
     <ui:define name="main_content">     
          <!-- get recipe instance to local variable  -->
     <h:form prependId="false" >
     <c:set var="recipe" value="#{detailBean.recipe}" /> 
     <!-- Display Name and category -->
    	<h:panelGrid columns="4" cellpadding="10">
     <h:column><h:outputLabel for="detail-name" value="#{formLang.name}" /> <br/><h:outputText id="detail-name" value="#{recipe.name}" /></h:column>
     <h:column><h:outputLabel for="detail-category" value="#{formLang.category}" /> <br/><h:outputText id="detail-category" value="#{recipe.category}" /></h:column>  
	<h:column>    
	<h:commandButton action="#{shoppingListBean.addToShoppingList()}" value="Add to Shoping list" >
	<f:setPropertyActionListener value="#{recipe}" target="#{shoppingListBean.currentRecipe}"></f:setPropertyActionListener>    
          </h:commandButton>       
	</h:column>	
	<h:column><h:commandButton action="#{detailBean.makePDF()}" value="PDF" /></h:column>
     </h:panelGrid>
 <br/>
 <h:graphicImage value="/Details?print=#{recipe.id}" alt="Recipe image" width="400" height="auto" />
  <!-- ingredients list using composite ingredients_list.xhtml -->
  	<iList:ingredients_list ingredients="#{recipe.ingredients}"></iList:ingredients_list>
         <!-- Display prepare instruction  -->
      <h:outputLabel for="detail-prepare" value="#{formLang.prepare}" />  <br/> 
    <h:inputTextarea id="detail-prepare" value="#{recipe.prepare}" cols="60" rows="20" readonly = "true"/>  
              </h:form>    
  </ui:define>
</ui:composition> 
</body>
</html>