<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:iList ="http://java.sun.com/jsf/composite/composites/ingredients_list"
      xmlns:c="http://java.sun.com/jsp/jstl/core">  
<body>
<!-- include the template file -->
<ui:composition template="template/template.xhtml">

     <ui:define name="main_content">
<h:form prependId="false">
<h:panelGrid columns="4" cellpadding="5">
<h:column><h:outputLabel value="e-mail" /></h:column>
<h:column>
<h:inputText id="e-mail" value="#{shoppingListBean.mail}" required="true" validatorMessage="e-mail is not valid" requiredMessage="e-mail is not valid">
<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
</h:inputText>
</h:column>
<h:column><h:commandButton action="#{shoppingListBean.sendMail()}" value="Send mail" /></h:column>
<h:column><h:commandButton action="#{shoppingListBean.clear()}" value="Remove" immediate="true"/></h:column>
</h:panelGrid>
<h:message for="e-mail" style="color:red"/><br/>
<h:outputLabel value="#{mainLang.shopping_list}" />
  <!-- ingredients list using composite ingredients_list.xhtml -->
  	<iList:ingredients_list ingredients="#{shoppingListBean.ingredients}"></iList:ingredients_list>
  	<h:outputLabel value="#{mainLang.recipes}" />
	<h:panelGrid>
	<c:forEach items="#{shoppingListBean.namesAndId}" var="list">
		<h:column>
		<h:commandLink action="#{shoppingListBean.openHyperlink()}" value="#{list.key}" immediate="true" >
		<f:param name="open" value="#{list.value}"></f:param>
		</h:commandLink>
		</h:column>
	</c:forEach>
	</h:panelGrid>
	</h:form>
  </ui:define>
</ui:composition> 
</body>
</html>