<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Not present in rendered output</title>
</head>
<body>
<composite:interface>
<composite:attribute name="ingredients" type="java.util.List" required="true"></composite:attribute>
</composite:interface>
<composite:implementation>
       <h:dataTable class="display-ingredient" value="#{cc.attrs.ingredients}" var="ingredient" cellpadding="5">
                  <h:column>
                  <!-- This column display pointer for current row-->
        <h:outputLabel value="&#x25CF;" />
            </h:column>
           <h:column>
        <h:outputLabel value="#{ingredient.name}" />
            </h:column>
             <h:column>
        <h:outputLabel value="#{ingredient.value}" />
            </h:column>
            <h:column>
        <h:outputLabel value="#{ingredient.unit}" />
            </h:column>
        </h:dataTable>
</composite:implementation>
</body>
</html>