@charset "UTF-8";

.top {
	    background-color: grey;
     text-align: center;
     color: black;
     font-size: xx-large;
}
.menu {
    background-color: grey;
     text-align: center;
    color: white;
    padding: 10px;
}
.menuLang{
	float: right;
	color: white;
}
.menuLinks{
	
}
.foot {
    background-color: white;
     text-align: center;
    color: grey;
}
.main_content {
    background-color: lightgrey;
     text-align: left;
     min-height: 600px;
 }
 
