<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/html"
      xmlns:iList ="http://java.sun.com/jsf/composite/composites/ingredients_list"> 
      
 <h:outputStylesheet library="css" name="form.css"/>
<body> 
<!-- include the template file -->
<ui:composition template="template/template.xhtml">
<!-- include own css file  -->
  <ui:define name="css">
<h:outputStylesheet library="css" name="form.css"/>
</ui:define>

     <ui:define name="main_content">
     <div>
		<h:form id="new-form">
		<!-- Name and category selector -->
		<h:panelGrid columns="8">
		<!-- Recipe name field and validation -->
		<h:outputLabel for="form_name" value="#{formLang.name}" />
		<h:inputText id="form_name" value="#{formBean.name}" required="true" 
		requiredMessage="#{formLang.name_required}" validatorMessage="#{formLang.name_lenght}">
			<f:validateLength  minimum="6" /> 
		</h:inputText>
		
<!-- 	Category select list	 -->
		<h:outputLabel for="form_category" value="#{formLang.category}" />
		<h:selectOneMenu id="form_category" value="#{formBean.category}">
		<f:selectItems value="#{formBean.categoryList}" />
		</h:selectOneMenu>
		
<!-- 	Save button 	 -->
		<h:commandButton id="submit" action="#{formBean.save}" value="#{formLang.save}" />
		</h:panelGrid>
		
		<!-- panel for display validation error  -->
		<h:panelGrid columns="2">
		<h:message for="form_name" errorClass="form_error"/>
		<h:message id="submit_messege" for="submit" errorClass="form_error" infoClass="form_info" />
		</h:panelGrid>
					
			<!-- Prepare instruction text area -->
		<h:outputLabel for="form_text_area" value="#{formLang.prepare}" /><br />
		<h:message for="form_text_area" errorClass="form_error"/><br />
		<h:inputTextarea id="form_text_area" cols="70" rows="20" value="#{formBean.prepare}" required="true" requiredMessage="#{formLang.prepare_required}" />
		</h:form>
	</div>	
		<div>
		<h:form>	
				  <!-- ingredients list using composite ingredients_list.xhtml -->
				  		<h:outputLabel for="ingredients" value="#{formLang.ingredients}" />
  	<iList:ingredients_list id="ingredients" ingredients="#{formBean.ingredients}"></iList:ingredients_list>		
<br/>
		<!-- add ingredient to list -->
		<h:panelGrid columns="4">
		<h:inputText id="ingredient_name" value="#{formBean.ingredientName}" required="true" requiredMessage="#{formLang.ingredient_name_required}" />
		<h:inputText id="ingredient_value"  value="#{formBean.ingredientValue}" required="true" requiredMessage="#{formLang.ingredient_value_required}" validatorMessage="#{formLang.ingredient_value_range}">
		<f:validateDoubleRange minimum="0.0"/>
		</h:inputText>	
		<h:selectOneMenu id="ingredient_unit" value="#{formBean.ingredientUnit}" >
		<f:selectItems value="#{formBean.unitList}" />
		</h:selectOneMenu>
		<h:commandButton action="#{formBean.addIngredient}" value="#{formLang.add}"/>
		</h:panelGrid>	
		<h:panelGrid columns="2">
		<h:message for="ingredient_name" errorClass="form_error"/>
		<h:message for="ingredient_value" errorClass="form_error"/>
			</h:panelGrid>
		</h:form>
		</div>		
    </ui:define>
</ui:composition> 
</body>
</html>