<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<body>
	<ui:composition>	
		<h:panelGrid columns="4" columnClasses="menuLinks" cellpadding = "5"> 
		<h:link outcome="reciple_list.xhtml" value="#{mainLang.reciple_list}" />
		<h:link outcome="add_new.xhtml" value="#{mainLang.add_reciple}" />
		<h:link outcome="shopping_list.xhtml" value="#{mainLang.shopping_list}" />
		<h:form prependId="false">
            Language : 
            <h:selectOneMenu value="#{languageBean.language}"
				onchange="submit()"
				 valueChangeListener="#{languageBean.onLanguageChanged}" >
				<f:selectItems value="#{languageBean.languages}" />
			</h:selectOneMenu>
			</h:form>
		</h:panelGrid>
	</ui:composition>
</body>
</html>